<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>Home</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}
      <ul class="sidebar-nav">
          <li><a href="{% url 'index' %}">Inicio</a></li>
          <li><a href="{% url 'homePerfil' %}">
            <button type="button" class="btn btn-primary mt-3" name="registroUser">Perfil</button>
            </a></li>
            {% if permiso or super_user %}

          <li><a href="{% url 'homeProductos' %}">
            <button type="button" class="btn btn-primary mt-3" name="registroUser">Productos</button>
            </a></li>
            <li><a href="{% url 'menu' %}">
              <button type="button" class="btn btn-primary mt-3" name="menu">menu</button>
              </a></li>
              <li><a href="{% url 'homeTortilleria' %}">
                <button type="button" class="btn btn-primary mt-3" name="menu">Tortilleria</button>
                </a></li>
            {% else %}
            <li><a href="{% url 'menu' %}">
              <button type="button" class="btn btn-primary mt-3" name="menu">menu</button>
              </a></li>
              {% endif %}
            <li><a href="{% url 'homeCarrito' %}">
              <button type="button" class="btn btn-primary mt-3" name="registroUser">Carrito</button>
              </a></li>
         




      </ul>
     {% endblock %}
     {% if messages %}
    <div>
        {% for message in messages %}
    {% if 'warning' in message.tags %}
        <div class="alert alert-warning">
            {{ message }}
            <a href="{% url 'nuevoDomicilio' %}" class="btn btn-primary">Registrar Domicilio</a>
        </div>
    {% else %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endif %}
{% endfor %}

    </div>
{% endif %}
<p>{{error}}</p>
     
      </div>
      <div class="col-sm-10 ">
      {% block content %}
      <form method="post" action="{% url 'comprarfromhome' %}">
        {% csrf_token %}
        {{ pedidoform.as_p }}
        {{ pedidoproductoform.as_p }}

        
        <button type="submit" name="accion" value="comprar">Comprar</button>

        

    </form>
      
      
    <div>
      <h2> {{ informacion.nombre }}</h2>
      <p>Direccion: {{ informacion.direccion }}</p>
      <p>Hora Inicio: {{ informacion.horaInicio }}</p>
      <p>Hora Final: {{ informacion.horaFinal }}</p>
      {% if informacion.imagen %}
          <img src="{{ informacion.imagen.url }}" alt="Imagen de {{ informacion.nombre }}" width="200">
      {% endif %}
  </div>
      
      {% endblock %}
      </div>
    </div>

  </div>
</body>
</html>
