{% extends "home.html" %}

{% block content %}

<h1>Bienvenido</h1>
<p>{{mensaje}}</p>
<button>Mis pedidos</button>
{% if not productos %}
<h4>aun no tiene agregado ningun producto</h4>
{% else %}

    {% for producto in productos %}

    <p>{{producto.producto.nombre}}</p>
    <p>{{producto.cantidad}}</p>
    <p>precio unitario:{{producto.precio_unitario}}</p>
    <p>subtotal:$ {{producto.subtotal}}</p>
    <a href="{% url 'restaCarrito' producto.id %}">Resta</a>
    <a href="{% url 'sumaCarrito' producto.id %}">suma</a>
    <a href="{% url 'eliminar_del_carrito' producto.id %}">Eliminar</a>
    <a href="{% url 'comprar' producto.id 'fromhomecarrito' %}">Comprar</a>
    {% endfor %}

{% endif %} 

{% endblock %}