
{% extends "home.html" %}

{% block content %}
<div class="container">
    <div class="row">
        {% comment %}
        <form method="get" action="{% url 'homeProductos' %}">
            {{ form.as_p }}
            <button type="submit">Buscar</button>
        </form>
        {% endcomment %}
        {% for producto in productos %}
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 100%;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ producto.nombre }}</h5>
                    <p class="card-text">{{ producto.descripcion }}</p>
                    <p class="card-text">${{ producto.precio }}</p>
                    {% if producto.estado and producto.existencia > 0 %}
                        <form method="post" action="{% url 'gestionarAccion' producto.id %}">
                            {% csrf_token %}
                            {{ formCantidad.as_p }}

                            <button type="submit" class="btn btn-primary mt-3" name="accion" value="agregar">Agregar</button>
                            <button type="submit" name="accion" value="comprar">Comprar</button>

                            

                        </form>
                        
                        
                        

                    {% else %}
                        <p class="btn btn-secondary">Agotado</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% empty %}
            <li>No hay productos disponibles.</li>
        {% endfor %}
    </div>
</div>
{% endblock %}