<!DOCTYPE html>
<html>
<head>
    <title>Asignar Usuarios a Grupos</title>
</head>
<body>
    <h2>Asignar Usuario a un Grupo</h2>
    
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Asignar</button>
    </form>

    <h3>Historial Empleados</h3>
    <ul>
        {% if empleados %}
        {% for empleado in empleados %}
        <li>{{ empleado.usuario.first_name }} {{ empleado.usuario.last_name }} || pertenece: {{empleado.grupo}}

        </li>
        <a href="{% url 'eliminarEmpleado' empleado.id %}">
            <button type="button" class="btn btn-primary mt-3" name="registroUser">Eliminar Empleado</button>
        </a>
        <a href="{% url 'activarEmpleado' empleado.id %}">
            <button type="button" class="btn btn-primary mt-3" name="registroUser">Activar Empleado</button>
        </a>

        
        {% if empleado.estatus %}
        <p>Estatus: Activo</p>
        {% else %}
        <p>Estatus: Inactivo</p>
        {% endif %}
    {% endfor %}
    {% else %}
        <li>No hay empleados</li>
    {% endif %}
    </ul>

    
</body>
</html>
