<h1>bienvenido</h1>
<a href="{% url 'registroDatosPersonales' %}">
    <button type="button" class="btn btn-primary mt-3" name="registroUser">Datos Personales</button>
</a>

<a href="{% url 'nuevoDomicilio' %}">
    <button type="button" class="btn btn-primary mt-3" name="registroUser">Nuevo Domicilio</button>
</a>

<a href="{% url 'registroDatosPersonales' %}">
    <button type="button" class="btn btn-primary mt-3" name="registroUser">Configuración</button>
</a>
<a href="{% url 'closeUser' %}">
    <button type="button" class="btn btn-primary mt-3" name="registroUser">cerrar sesion</button>
</a>

<h3>Domicilios</h3>
{% for domicilio in domicilios %}
    <ul>{{domicilio.calle}}</ul>
    <ul>{{domicilio.referencia}}</ul>
    <a href="{% url 'editarDomicilio' domicilio.id %}">
        <button type="button" class="btn btn-primary mt-3" name="editarDomicilio">editar</button>

{% endfor %}
