
<div class="form-container">
    {% if nombre and apellidos %}
    <h1>Para continuar, registre sus datos</h1>
    {% else %}
    <h1>Editar datos</h1>

    {% endif %}

    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}
    <form method="POST" >
        {% csrf_token %}
        {{ form.as_p }}
        {% if nombre and apellidos %}
            <button type="submit" class="btn btn-primary mt-3">Guardar</button>
        {% else %}
            <button type="submit" class="btn btn-primary mt-3">Editar</button>
            <a href="{% url 'homePerfil' %}">
                <button type="button" class="btn btn-primary mt-3" name="homePerfil">Cancelar</button>
            </a>
        {% endif %}
    </form>
</div>