{% extends "home.html" %}

{% block content %}


<h1>Bienvenido a la tortilleria </h1>
<a href="{% url 'informacionTortilleria' %}">
  <button>Informacion Tortilleria</button>
</a>



<div class="columns is-mobile">
    <div
      class="
        column
        is-three-quarters-mobile
        is-two-thirds-tablet
        is-half-desktop
        is-one-third-widescreen
        is-one-quarter-fullhd
      "
    >
      <code>Cobro</code>
      
    </div>
    <div class="column">
        <Code>Pedidos</Code>
        <div>
          <form method="post" action="{% url 'seleccionarAccion' %}">
            {% csrf_token %}
            <table>
                <thead>
                    <tr>
                      <th>Seleccionar</th>
                      <th>Usuario</th>
                      <th>Producto</th>
                      <th>Cantidad</th>
                      <th>Precio</th>
                      <th>Domicilio</th>
                      <th>Acciones
                        <button type="submit" name="accion" value="repartidor">Enviar a repartidor</button>
                        <button type="submit" name="accion" value="lista">Añadir a Lista</button>
                      </th>
                    </tr>
                </thead>
                <tbody>
                  {% for pedido in pedidos %}
                    <tr>
                        <td>
                            <input type="checkbox" name="seleccionados" value="{{ pedido.id }}" {% if pedido.seleccionado %} checked {% endif %}>
                        </td>
                        <td>{{ pedido.user }}</td>
                        {% for item in pedido.productos.all %}
                        <td>{{ item.producto.nombre }}</td>
                        <td>{{item.cantidad}}</td>
                        {% endfor %}
        
                        <td>{{ pedido.precio_total }}</td>
                        <td>{{ pedido.domicilio }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
          </form>
        </div>

    </div>
    
  </div>



  {% endblock %}